* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body, html {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

aside {
  background-color: #1F1F3D;
  background-size: 100%;
  width: 27vw;
  min-height: 100%;
}

aside h1 {
  color: #E9E9F3;
  font-size: 1.6em;
  letter-spacing: .05em;
  padding: .2em 1em .2em .4em;
  margin-left: 1.4em;
}

.filter-aside-section {
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
}

h4 {
  color: #BFBFDD;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .04em;
  padding-left: .5em;
  margin-left: 1.8em;
}

.show-starred {
  color: #E9E9F3;
  background-color: #5356A4;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .05em;
  white-space: nowrap;
  margin: .5em 1em 1.5em 1.7em;
  padding: .6em 1.5em .3em 1em;
  border: .09em solid #353567;
  border-radius: .15em;
}

.form {
  display: flex;
  justify-content: center;
  background-color: #A9AAD2;
  width: 75vw;
  height: 68vh;
}

.form-style {
  display: flex;
  flex-direction: column;
  /* padding: 1em 45em 4em 45em; */
}

label {
  color: #1F1F3D;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1em;
}

#title-input {
  width: 100%;
  box-sizing: border-box;
  border: .1em solid #5356A4;
  border-radius: .2em;
  padding: 2%;
  margin: .2em 0em 0.3em 0em;
  font-weight: bold;
  font-size: xx-large;
}

#body-input {
  box-sizing: border-box;
  width: 100%;
  border: .1em solid #5356A4;
  border-radius: .2em;
  padding: 8%;
  margin: .2em 0em 0em 0em;
  font-weight: bold;
  font-size: xx-large;
}

.save-button {
  font-size: 1.5em;
  background-color: #5356A4;
  border: 2px solid #353567;
  border-radius: .1em;
  color: #E9E9F3;
  letter-spacing: .05em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
  margin: 1.2em 0em 1.2em 0em;
}

.hover:hover {
  cursor: pointer;
}

.activeSaveBtn {
  background-color: #1F1F3D;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  border: .15em solid #5356A4;
  border-radius: .2em;
}

#magnify-glass {
  background-color: #353567;
  padding: .5em 1em;
  max-width: 3em;
}

#searchbar {
  padding: 2.5%;
  width: 30vw;
  font-size: 1.9em;
  color: #5356A4;
}

.idea-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #EAEAF4;
  width: 74vw;
  min-height: 100%;
  padding-top: 1em;
  padding-left: 1em;
}

.idea-box {
  height: 10em;
  width: 20em;
  min-height: 100%;
  margin: 5em 1em 5em 1em;
}

.card-top {
  background-color: #1F1F3D;
  border: 1px solid #1F1F3D;
  padding: .2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 3em;
}

.card-star, #delete-icon, #comment-plus-icon {
  max-width: 3.5em;
}

h5 {
  font-size: 2.5em;
  font-weight: bold;
  margin: .2em 0em 0em .5em;
}

.card-body {
  background-color: #FFFFFF;
  padding: 1em;
  border: .2em solid #1F1F3D;
  overflow-wrap: break-word;
  height: 20em;
  resize: vertical;
  overflow: scroll;
}

#card-text {
  font-size: 2.4em;
  font-weight: 200;
  color: #1F1F3D;
  margin: .2em 1em 1.3em .5em;
}

.card-bottom {
  background-color: #5356A4;
  border-right: .1em solid #1F1F3D;
  border-bottom: .1em solid #1F1F3D;
  border-left: .1em solid #1F1F3D;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  max-height: 3.8em;
}

#white-comment {
  color: #E9E9F3;
  font-size: 2em;
  font-weight: 400;
}